{% extends 'base.html.twig' %}

{% block title %}Hello ParserGoogleController!{% endblock %}

{% block body %}
    include
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/Monroe/Desktop/PHP_SYPHONE/ParserGoogleSymfony/src/Controller/ParserGoogleController.php'|file_link(0) }}">src/Controller/ParserGoogleController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/Monroe/Desktop/PHP_SYPHONE/ParserGoogleSymfony/templates/parser_google/index.html.twig'|file_link(0) }}">templates/parser_google/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}